foo.R
build.R
.Rhistory
.DS_Store
.Rproj.user
.vscode
docs
doc
notes
Meta
.idea
data.csv
_extensions
survey.html
survey_files
choice_questions.csv
example.qmd
.vdoc.r
.Renviron
example.html
example_files
example1.rmarkdown
.env
preview_data.csv