/*-- Custom Fonts --*/
@import"https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,800;1,400;1,800";
$headings-font-family: "Raleway";
$font-family-base: "Raleway";

/*-- scss:defaults --*/
$primary: royalblue; // Modify the color here to apply different theme colors.
$barcolor: $primary; // Set to $primary or a custom color.
$primary-color: #5480a7;
$secondary-color: #56A754;
$tertiary-color: #A77B54;
$link-color: $primary-color;
$body-bg: #f2f6f9;
$footer-bg: $primary-color;
$footer-fg: white;
$headings-color: black;
$link-color: $primary-color;
$link-hover-color: $secondary-color;

/*-- Essential for $barcolor argument to work --*/
#progressbar > div {
  background-color: $barcolor !important;
}
