/* Progress Bar */
#progress-container {
  display: none; /* Default to hidden */
  height: 5px;
  background-color: #f3f3f3;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #4caf50;
}
