// In the YAML header of your qmd file, you can apply theme like this:
// theme: [cosmo, surveydown.scss]
// It means to apply the cosmo bootstrap theme, and override by surveydown.scss.

// Instead of using the surveydown.scss file,
// you can modify and apply this custom.scss file as well.
// Feel free to copy and paste from surveydown.scss,
// or do further customization as you wish.

/*-- scss:defaults --*/
$primary: royalblue; // Modify the color here to apply different theme colors.

/*-- scss:rules --*/
#title-block-header {
  margin-block-end: 2rem;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-weight: 800;
}

/* Progress bar styles */
$barcolor: $primary; // Set to $primary or a custom color.

/* The expressions below are essential for $barcolor to work. */
#progressbar > div {
  background-color: $barcolor !important;
}
