/*-- Custom Fonts --*/
@import"https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,800;1,400;1,800";
$headings-font-family: "Raleway";
$font-family-base: "Raleway";

/*-- scss:defaults --*/
$primary: royalblue; // Modify the color here to apply different theme colors.
$primary-color: #5480a7;
$secondary-color: #56A754;
$tertiary-color: #A77B54;
$link-color: $primary-color;
$body-bg: #f2f6f9;
$footer-bg: $primary-color;
$footer-fg: white;
$headings-color: black;
$link-color: $primary-color;
$link-hover-color: $secondary-color;

/*-- scss:rules --*/
#title-block-header {
  margin-block-end: 2rem;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-weight: 800;
}

/* Progress bar styles */
$barcolor: $primary; // Set to $primary or a custom color.

/* The expressions below are essential for $barcolor to work. */
#progressbar > div {
  background-color: $barcolor !important;
}
